Appium-Python-Client>=2.9.0
getgauge
numpy # transitive dependency of scikit-image
numexpr>=2.8.1
scikit-image==0.21.0
selenium>=4.11.2
webcolors==1.11.1
webdriver-manager>=4.0.0
#only for development purposes
flake8
parameterized
