Appium-Python-Client==4.5.1
getgauge>=0.4.8
numexpr==2.10.2
# newer numpy versions have changed the way images are padded.
# scikit-image and numexpr rely on numpy and can not be updated.
numpy==2.2.4
scikit-image==0.25.2
selenium==4.30.0
webcolors==24.11.1
webdriver-manager==4.0.2
#only for development purposes
parameterized==0.9.0
