Appium-Python-Client==4.4.0
getgauge>=0.4.2
numexpr==2.10.2
# newer numpy versions have changed the way images are padded.
# scikit-image and numexpr rely on numpy and can not be updated.
numpy==2.2.0
scikit-image==0.25.0
selenium==4.27.1
webcolors==24.11.1
webdriver-manager==4.0.2
#only for development purposes
parameterized==0.9.0
